{% extends 'task/base.html' %}

{% block title %}About - Task App{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ipsa amet aliquam dolor quibusdam rem! Aperiam possimus reprehenderit soluta debitis repellendus, suscipit eligendi beatae, neque enim, facere saepe atque perferendis harum vitae quae ab tempore porro autem reiciendis nobis sit! Eos ullam aperiam ut possimus laborum. Vero facilis in sapiente ipsa quas repellendus quam sed blanditiis neque ipsam, non possimus quisquam, inventore exercitationem quos quod earum ab doloremque aliquid odit temporibus voluptas expedita dicta. Magnam, exercitationem harum. Tenetur, ullam fuga!</p>
{% endblock %}